<div>

    <h1>index</h1>

    <div name="todo_create">
        <%= form_tag("/tasks/create") do %>
                <div class="mb-3">
                    <textarea name="content" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <input type="date" name="start_time">
                </div>
                <div class="mb-3">
                    <input type="submit" value="追加" class="btn btn-primary">
                </div>
        <% end %>
    </div>

</div>
