<div>
    <%= link_to("index","/tasks/index") %>
    <h1>show</h1>

    <div name="todo_show">
        <div>
            <%= @task.content %>
        </div>
        <div>
            <%= link_to "編集","/tasks/#{params[:id]}/edit" %>
        </div>
    </div>

</div>