<div>

    <h1>show</h1>

    <%= link_to("indexに戻る","/tasks/index") %>

    <div name="todo_show">
        <div>
            <%= @task.content %>
        </div>
        <div>
            <%= link_to "編集","/tasks/#{params[:id]}/edit" %>
        </div>
    </div>

</div>