<div>

    <h1>タスク詳細</h1>

    <div class="mb-3">
        <%= link_to("indexに戻る","/tasks/index") %>
    </div>

    <div name="todo_show">
        <div class="mb-3">
            <%= @task.content %>
        </div>
        <div class="mb-3">
            <%= "#{@task.start_time}まで" %>
        </div>
        <div class="mb-3">
            <%= link_to "編集","/tasks/#{@user.id}/#{params[:id]}/edit",{class:"btn btn-primary"} %>
        </div>
    </div>

</div>