<div>

    <h1>タスク詳細</h1>

    <div name="todo_show">
        <div class="mb-3">
            <%= "タスクを追加したユーザー　#{@task.user.name}/ID:#{@task.user.id}　共有されたチームID:#{@task.team_id}" %>
        </div>
        <div class="mb-3">
            <%= @task.content %>
        </div>
        <div class="mb-3">
            <%= "#{@task.start_time}まで" %>
        </div>
        <% if @user.id == @task.user.id %>
            <div class="mb-3">
                <%= link_to "編集","/tasks/#{params[:id]}/edit",{class:"btn btn-primary"} %>
            </div>
        <% end%>
    </div>

</div>