.simple-calendar {
    .day {
      width: 14%;
    }
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  

    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {
      background-color: lightgray;
    }
    .next-month {
      background-color: lightgray;
    }
    .current-month {}
  
    .has-events {
      background-color: lightgreen;
    }
    .today {
      background-color: rgb(255, 255, 100);
    }
  }